#background {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#frontPage {
    position: absolute;
    font-family: 500px "Times New Roman", "serif";
}

.box {
    background-color: blue;
    width: 500px;
    height: 500px;
    margin: 10px;
}

body {
    margin: 0px;
}

h1 {
    position: absolute;
    top: 0px;
}